@font-face {
  font-family: 'Sega';

  src: url('../public/SEGA.TTF');
}

.container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title{
  margin: 20px;
  font-family: 'Sega', sans-serif;
  font-weight: lighter;
  color: rgb(5, 185, 195);
}

.separator{
  width: 100%;
  border: solid 1px #4f4e4eab;
}